@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/globals.scss' as *;

.login{
    @include flex(row,center,center);
    background-color: $myportfolio-indigo;
    height: $login-container-height;
    padding: $mobile-side-margin;

    @include tablet{
        padding:$tablet-side-margin;
    }
    @include desktop{
        padding:$desktop-side-margin
    }
    &__card{
        background: $white;
        padding: $form-margin;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 5rem;
        max-width: 100%;
    }
    &__header-container{
        text-align: center;
        margin-bottom: $after-heading-padding;
    }
    &__header{
        @include page-header;
        margin-bottom: $after-subheading-padding;
        font-weight: bold;
    }
    &__tabs{
        @include flex(row, center,center);
        margin-bottom: $after-text-block-padding;
    }

    &__button{
        @include cta-primary;
    
        &--active{
            color: $white;
            background-color: $graphite;
            border-radius: $border-radius;
        }
    }
}
form{
    &__entries{
        margin-bottom: $input-margin-bottom;
    }
    &__label{
        display: block;
        margin-bottom: $after-label-padding;
        font-weight: bold;
    }
    &__input{
        width: 100%;
        padding: $input-padding;
        border: 1px solid $graphite;
        border-radius: $border-radius-small;
    }
    &__footer{
        @include flex(row, space-between,center);
        margin-bottom: $after-text-block-padding
    }
    &__button{
        @include form-button
    }
}






