@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/globals.scss' as *;
.login{
    @include flex(column,center,center);
    background-color: $white;
    padding:1rem;

    @include tablet{
        padding:$tablet-side-margin;
    }
    @include desktop{
        padding:$desktop-side-margin
    }
    &__card{
        background: $white;
        padding: $form-margin;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        max-width: 100%;
        position:relative;
        overflow:hidden;
        @include flex(column, center, center);
    }

    &__tabs{
        @include flex(row, center,center);
        margin-bottom: $after-text-block-padding;
        gap:1rem;
    }

    &__button{
        @include cta-primary;
    
        &--active{
            @include cta-primary;
            background-color: darken($red, 15%);
        }
    }
}
.form{
    @include flex(column,center,center);
    gap:1rem;
    &__entries{
        margin-bottom: $input-margin-bottom;
    }
    &__label{
        display: block;
        margin-bottom: $after-label-padding;
        font-weight: bold;
    }
    &__input{
        width: 100%;
        padding: $input-padding;
        border: 1px solid $graphite;
        border-radius: $border-radius;
    }
    &__footer{
        @include flex(row, space-between,center);
        margin-bottom: $after-text-block-padding
    }
    &__footer-text{
        text-decoration: none;
        color:$slate;
    }
    &__button{
        @include form-button
    }
}






