.project {
    background: $white;
    padding: $form-margin;
    margin-bottom: $form-margin;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    @include flex(column,center,center);
    
    &__image {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: $border-radius;
      margin-bottom: $after-heading-padding;
    }
      
    &__details {
        text-align: center;
    }

    &__title {
        //font-size: $font-size-large;
        margin-bottom: $after-subheading-padding;
      }

    &__description {
        //font-size: $font-size-medium;
        margin-bottom: $after-text-block-padding;
    }
    &__info{
        text-align: left;
        //font-size: $font-size-small;
        &--item{
            margin-bottom: $after-label-padding;
        }
    }
}
