@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/globals.scss' as *;
.dashboard{
    padding: $mobile-side-margin;
    background-color: $white;
    
    @include tablet {
      padding: $tablet-side-margin;
    }
  
    @include desktop {
      padding: $desktop-side-margin;
    }  

    &__title{
      @include page-header;
      margin-bottom:$mobile-side-margin
    }
    &__button-add{
      @include cta-primary;

    }
}
