// ------------------------------//
// Breakpoints
// ------------------------------//
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// ------------------------------ //
// Margins & Padding
// ------------------------------ //
$mobile-side-margin: 1rem;
$tablet-side-margins: 2rem;

$after-heading-padding: 1.5rem;
$after-text-block-padding: 1rem;
$after-subheading-padding: 0.25rem;

$after-label-padding: 0.25rem;
// ------------------------------ //
// Element Styling
// ------------------------------ //
$border-radius: 10px;
$border-radius-table: 5px;
$divider: 1px solid #bdc5d5;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 

//$box-shadow: 0px 2px 5px 0px #13182c1a;

// ------------------------------ //
// Primary Colors
// ------------------------------ //
$myportfolio-black: #13182c;
$white: #fff;
$red: #DD2A2A;


// ------------------------------ //
// Secondary Colors
// ------------------------------ //

$slate: #5c667e;
$cloud: #bdc5d5;

// ------------------------------ //
// Background Colors
// ------------------------------ //
$graphite: #232940;
$light-grey: #f7f8f9;

// ------------------------------ //
// Supporting Colors
// ------------------------------ //
$green: #158463;
$green-low-opacity: #15846312;
$darker-red: #9E1919;
$red-low-opacity: #c9451512;

// ------------------------------//
// Breakpoints
// ------------------------------//
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// ------------------------------ //
// Margins & Padding
// ------------------------------ //
$mobile-side-margin: 1rem; 
$tablet-side-margin: 2rem; 
$desktop-side-margin: 3rem;

//Padding after elements
$after-heading-padding: 1.5rem; 
$after-text-block-padding: 1rem; 
$after-subheading-padding: 0.25rem; 
$after-label-padding:  0.25rem;

//Input and button padding:
$input-padding: 0.75rem; 
$button-padding: 1rem; 
$input-margin-bottom: 1.25rem; 
$form-margin: 2.5rem;

// ------------------------------ //
// Element Styling
// ------------------------------ //
$border-radius: 20px;
$divider: 1px solid $cloud;

// ------------------------------ //
// Heights
// ------------------------------ //
$height: 100vh;


// ------------------------------ //
// Font sizes
// ------------------------------ //
$font-size-small: 0.875rem; 
$font-size-medium: 1rem; 
$font-size-large: 1.5rem; 