@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/globals.scss' as *;

.button-add{
    @include cta-primary;
    align-self: center;
}

.dynamic-form{
    &__field-section{
        @include flex;
        gap:0.5rem;
    }
    &__button-remove{
        @include cta-primary;
        width:30%;
        min-width:0;
    }
}